<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-6">
        <!--property bindind do componente progresso atribuindo do pai no painel    -->
				<app-progresso [progresso]="progresso"></app-progresso>
			</div>
			<div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-tentativas [tentativas]="tentativas"></app-tentativas>
        </div>
				
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h6>{{instrucao}}</h6>
				<p>{{rodadaFrase.fraseEng}}</p>
				<div class="form-group">
					<textarea 
          class="form-control" rows="3" (input)="atualizaResposta($event)" [value]="resposta">
          <!--event binding no input e property binding na resposta -->
          </textarea>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="verificarResposta()">Verificar</button>
        </div>
				
			</div>
		</div>
	</div>
  <div class="d-flex justify-content-end">
    <p>Feito por Regis<p>
  </div>



</div>